.user-list {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  .query-button {
    display: flex;
    flex-direction: row-reverse;
  }
  .margin-top-12 {
    margin-top: 12px;
  }
  .margin-left-12 {
    margin-left: 12px;
  }
  .table__height {
    flex: 1;
  }
  .ant-pagination {
    flex-shrink: 0;
  }
  .ant-form {
    flex-shrink: 0;
  }
  .ant-table-tbody {
    scrollbar-width: auto;
    scrollbar-color: auto;
  }
}
