@charset "UTF-8";
.user-list {
  height: 100%;
  width: 100%;
}

.user-list .query-button {
  display: flex;
  flex-direction: row-reverse;
}

.user-list .margin-top-12 {
  margin-top: 12px;
}

.user-list .ant-table-placeholder {
  height: 100% !important;
  min-height: 300px;
  /* 最小高度 */
}

.user-list .ant-empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
