.user-list {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.user-list .query-button {
  display: flex;
  flex-direction: row-reverse;
}

.user-list .margin-top-12 {
  margin-top: 12px;
}

.user-list .margin-left-12 {
  margin-left: 12px;
}

.user-list .table__height {
  flex: 1;
}

.user-list .ant-pagination {
  flex-shrink: 0;
}

.user-list .ant-form {
  flex-shrink: 0;
}

.user-list .ant-table-tbody {
  scrollbar-width: auto;
  scrollbar-color: auto;
}
