.organization-tree-manage {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.organization-tree-manage .query-button {
  display: flex;
}

.organization-tree-manage .margin-top-12 {
  margin-top: 12px;
}

.organization-tree-manage .margin-left-12 {
  margin-left: 12px;
}

.organization-tree-manage .table__height {
  flex: 1;
}

.organization-tree-manage .table-container {
  flex: 1;
  width: 100%;
}

.organization-tree-manage .ant-pagination {
  flex-shrink: 0;
}

.organization-tree-manage .ant-form {
  flex-shrink: 0;
}

.organization-tree-manage .ant-table-tbody {
  scrollbar-width: auto;
  scrollbar-color: auto;
}
