.ant-layout {
  height: 100%;
  width: 100%;
}

.ant-layout .logo_div {
  height: 32px;
  margin: 16px;
  background: white;
  color: #000;
  display: flex;
  font-weight: bold;
  align-items: center;
  border-radius: 4px;
}

.ant-layout .logo_div .login_img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-left: 10px;
}

.ant-layout .content_div {
  height: calc(100% - 54px);
  padding: 24px;
  overflow: auto;
}

.ant-layout .ant-layout-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.ant-layout .ant-layout-content {
  height: calc(100% - 64px);
}
