.logo_div {
  height: 32px;
  margin: 16px;
  background: rgb(255, 255, 255);
  color: #000;
  display: flex;
  font-weight: bold;
  align-items: center;
  border-radius: 4px;
  .login_img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-left: 10px;
  }
}
.content_div {
    height: calc(100% - 70px);
    padding: 24px;
}
